body {
    margin: 0;
    background-color: #e1744b;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

#form {
    font-family: Corbel, serif;
    font-size: 20px;
    background-color: darksalmon;
    margin: 0;
    padding: 20px;
    border: 2px solid darkslateblue;
    border-radius: 10px;
    box-shadow: 02px 3px 3px #a82727;
}

#input {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #9f5353;
    box-shadow: 2px 2px 2px 2px #c286ce;
}

#score {
    text-align: right;
    font-family: "Bell MT";
    font-size: 30px;
}

#button {
    background-color: #d37c3c;
    font-size: 30px;
    margin-top: 8px;
    border-radius: 10px;
    border: 3px solid #b94040;
    box-shadow: 0 3px 4px blueviolet;
}